.top {
  list-style-type: none;
  margin: 0;
  padding: 0;

  .avatar, .noAvatar {
    margin-right: 10px;
    border-radius: 20px;
    width: 40px;
    height: 40px;
  }

  .noAvatar {
    display: inline-block;
    background-color: #efefef;
  }

  h3 {
    flex: 1;
    color: black;
  }

  label {
    flex: 0;
    background-color: #efefef;
    color: #666666;
    padding: 2px 8px;
    margin-top: 6px;
    border-radius: 3px;
    font-weight: bold;
    font-size: 16px;
  }

  li {
    border-radius: 3px;

    a {
      display: flex;
      align-items: center;
      text-decoration: none;
    }

    &:hover {
      background-color: #efefef;
    }
  }
}

.countSummary {
  list-style-type: none;
  line-height: 28px;
  font-size: 16px;
  padding: 0;
  margin: 0 0 30px;
}